.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full height of the screen */
  padding: 2rem 1rem; /* Prevent edge overflow on small screens */
  box-sizing: border-box;
}

.home-intro {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 2rem;
}

.home-intro h1 {
  font-size: 2.5rem;
  max-width: 35rem;
}

.highlight-i {
  color: #ed1941;
  font: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}
.home-search {
  width: 80%;
  padding: 0.75rem 1rem;
  border: 0.01rem solid var(--border);
  border-radius: 0.5rem;
  background: var(--surface);
}

.card-grid {
  display: grid;
  width: 80%;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}

.card {
  flex-direction: column;
  background: var(--surface);
  border: 0.01rem solid var(--border);
  border-radius: 0.5rem;
  padding: 1rem;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 4 / 3;
  border-radius: 0.5rem;

  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

.card:hover {
  opacity: 0.8;
}

.home-link {
  padding: 0.75rem 1.25rem;
  background-color: var(--accent);
  color: white;
  text-decoration: none;
}

.home-link:hover {
  background-color: var(--accent-hover);
}

/* Tablet and above */
@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop and above */
@media (min-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
