.home__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 5rem 2rem;
  box-sizing: border-box;
}

.home__intro {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: auto;
  gap: 2rem;
}

.home__intro h1 {
  font-size: 2.5rem;
  max-width: 35rem;
}

.highlight-i {
  color: #ed1941;
}
.home__search {
  width: 70%;
  padding: 0.75rem 1rem;
  border: 0.07rem solid var(--border);
  border-radius: 0.5rem;
  background: var(--surface);
  color: var(--text);
  outline: none;
}

.home__search::placeholder {
  color: var(--subtext);
}

.home__search:focus {
  border-color: var(---dark);
}

.home__card-grid {
  display: grid;
  margin-top: auto;
  width: 65%;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}

/* Tablet and above */
@media (min-width: 768px) {
  .home__card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop and above */
@media (min-width: 1024px) {
}
