.card {
  width: 100%;
  flex-direction: column;
  background: var(--surface);
  border: 0.01rem solid var(--border);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.2rem;
  text-align: center;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 4 / 3;
  border-radius: 0.5rem;
  border: 0.01rem solid var(--border);
  margin-bottom: 1rem;
}

.card:hover {
  opacity: 0.5;
}
