.recipeCreate__page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
}

.recipeCreate__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--surface);
  padding: 2rem;
  width: 70%;
  max-width: 35rem;
  border: 0.01rem solid var(--border);
  border-radius: 0.25rem;
}

.recipeCreate__form h1 {
  text-align: center;
}

.recipeCreate__form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.recipeCreate__form input,
.recipeCreate__form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 0.01rem solid var(--border);
  border-radius: 0.25rem;
}

.recipeCreate__form input:focus,
.recipeCreate__form textarea:focus {
  border-color: var(--dark);
  box-shadow: 0 0 0 0.01rem var(--dark);
}

.recipeCreate__form button {
  margin-top: 3rem;
  padding: 0.75rem 1.25rem;
  background-color: var(--fuji-red);
  color: white;
  text-decoration: none;
}

.recipeCreate__form button:hover {
  opacity: 0.7;
}
