.recipeCard {
  width: 100%;
  flex-direction: column;
  background: var(--surface);
  border: 0.01rem solid var(--border);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.2rem;
}

.recipeCard img {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 4 / 3;
  border-radius: 0.5rem;
  border: 0.01rem solid var(--border);
}

.recipeCard-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  height: 5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.recipeCard:hover {
  opacity: 0.5;
}
