.recipeDetail__page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipeDetail__intro {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.recipeDetail__intro img {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 4 / 3;
  border-radius: 0.5rem;
  border: 0.01rem solid var(--border);
}

.recipeDetail__intro p {
  font-size: large;
}

.recipeDetail__intro__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipeDetail__modify {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 2rem;
}

.recipeDetail__modify svg {
  background: none;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--border);
  cursor: pointer;
  font-size: 2.5rem;
}

.recipeDetail__modify svg:hover {
  transform: scale(1.1);
}

.recipeDetail__intro,
.recipeDetail__body {
  max-width: 50rem;
}

.recipeDetail__body p {
  margin: 0;
  padding: 0.75rem 0;
  border-bottom: 0.1rem solid var(--border);
}

.recipeDetail__body p:first-child {
  border-top: 0.1rem solid var(--border);
}

.recipeDetail__body p strong {
  display: inline-block;
  min-width: 30rem;
}
