.search__bar__container {
  width: 70%;
  color: var(--text);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.search__bar {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 0.07rem solid var(--border);
  border-radius: 0.25rem;
  background: var(--surface);
  color: var(--text);
  outline: none;
}

.search__bar__container button {
  border-radius: 0.25rem;
  background-color: var(--fuji-red);
  color: #ffffff;
  width: 20%;
}
.search__bar__container button:hover {
  opacity: 0.7;
}

.home__search::placeholder {
  color: var(--subtext);
}

.home__search:focus {
  border-color: var(--dark);
}
