.customSelectField {
  width: 100%;
}

.customSelectField .MuiInputBase-root {
  background: white;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.customSelectField .MuiInputLabel-root {
  font-weight: var(--font-weight-light);
}
