:root {
  --bg: #fdfafa;
  --surface: #f5f5f5;
  --accent: #ed1941;
  --accent-hover: #ba002f;
  --text: #2a2a2a;
  --subtext: #7c7c7c;
  --border: #dcdcdc;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 500;
}
