:root {
  --bg: #faebcf;
  --surface: #fff6e6;
  --accent: #d16b27;
  --accent-hover: #a14f1a;
  --text: #2e2a26;
  --subtext: #88827c;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 500;
}
